# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
prog-basica-avancada-mp/CodigoDeCoresParaMudarComDeFundoECorDaLetra.pdf
prog-basica-avancada-mp/ConfigurandoDevC++ParaVersao11.pdf
prog-basica-avancada-mp/SeVoceEstiverUtilizandoCompiladorCodeBlocks.pdf
prog-basica-avancada-mp/SeVoceEstiverUtilizandoCompiladorDEVCPP.pdf
prog-basica-avancada-mp/PrimeiraListaDeExercicios.pdf
